body #catan_field {
  width: 960px;
  float: left; }
  body #catan_field .field_kolom {
    width: 80px;
    float: left;
    margin-left: -19px; }
    body #catan_field .field_kolom .catan_tile {
      width: 80px;
      height: 69px;
      position: relative;
      overflow: hidden; }
      body #catan_field .field_kolom .catan_tile .fiche {
        margin-top: 20px;
        margin-left: 30px;
        width: 20px;
        height: 20px;
        background-repeat: none; }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_2 {
          background: url("../images/2.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_3 {
          background: url("../images/3.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_4 {
          background: url("../images/4.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_5 {
          background: url("../images/5.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_6 {
          background: url("../images/6.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_8 {
          background: url("../images/8.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_9 {
          background: url("../images/9.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_10 {
          background: url("../images/10.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_11 {
          background: url("../images/11.png"); }
        body #catan_field .field_kolom .catan_tile .fiche.fiche_12 {
          background: url("../images/12.png"); }
      body #catan_field .field_kolom .catan_tile.rotate_0 {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
      body #catan_field .field_kolom .catan_tile.rotate_1 {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg); }
      body #catan_field .field_kolom .catan_tile.rotate_2 {
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
        transform: rotate(120deg); }
      body #catan_field .field_kolom .catan_tile.rotate_3 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
      body #catan_field .field_kolom .catan_tile.rotate_4 {
        -webkit-transform: rotate(240deg);
        -moz-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        -o-transform: rotate(240deg);
        transform: rotate(240deg); }
      body #catan_field .field_kolom .catan_tile.rotate_5 {
        -webkit-transform: rotate(300deg);
        -moz-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        -o-transform: rotate(300deg);
        transform: rotate(300deg); }
      body #catan_field .field_kolom .catan_tile.wood {
        background: url("../images/wood.gif"); }
      body #catan_field .field_kolom .catan_tile.sheep {
        background: url("../images/sheep.gif"); }
      body #catan_field .field_kolom .catan_tile.ore {
        background: url("../images/ore.gif"); }
      body #catan_field .field_kolom .catan_tile.corn {
        background: url("../images/corn.gif"); }
      body #catan_field .field_kolom .catan_tile.stone {
        background: url("../images/stone.gif"); }
      body #catan_field .field_kolom .catan_tile.desert {
        background: url("../images/desert.gif"); }
      body #catan_field .field_kolom .catan_tile.port_wood {
        background: url("../images/port_wood.png"); }
      body #catan_field .field_kolom .catan_tile.port_sheep {
        background: url("../images/port_sheep.png"); }
      body #catan_field .field_kolom .catan_tile.port_ore {
        background: url("../images/port_ore.png"); }
      body #catan_field .field_kolom .catan_tile.port_corn {
        background: url("../images/port_corn.png"); }
      body #catan_field .field_kolom .catan_tile.port_stone {
        background: url("../images/port_stone.png"); }
      body #catan_field .field_kolom .catan_tile.port_3_1 {
        background: url("../images/port_3_1.png"); }
      body #catan_field .field_kolom .catan_tile.sea {
        background: url("../images/sea.png"); }
  body #catan_field .catan_field_4_first {
    margin-top: 100px;
    z-index: 10;
    margin-left: 0px; }
  body #catan_field .catan_field_5 {
    margin-top: 68px;
    z-index: 20; }
  body #catan_field .catan_field_6 {
    margin-top: 34px;
    z-index: 10; }
  body #catan_field .catan_field_7 {
    margin-top: 0px;
    z-index: 20; }
  body #catan_field .catan_field_4_last {
    margin-top: 104px;
    z-index: 10; }

/*# sourceMappingURL=main.css.map */
